loki:
  config:
    auth_enabled: false

    ingester:
      chunk_idle_period: 3m
      chunk_retain_period: 1m

    limits_config:
      enforce_metric_name: false
      reject_old_samples: true
      reject_old_samples_max_age: 168h
      max_entries_limit_per_query: 5000

    schema_config:
      configs:
        - from: "2024-04-01"
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: loki_index_
            period: 24h

    chunk_store_config:
      max_look_back_period: 0s

    table_manager:
      retention_deletes_enabled: false
      retention_period: 0s

  serviceAccount:
    create: true
    name: loki

  rbac:
    create: true
    pspEnabled: false

  replicas: 3

  persistence:
    enabled: true
    storageClassName: longhorn
    size: 50Gi

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
