alloy:
  alloy:
    securityContext:
      privileged: true
      capabilities:
        add:
          - SYS_ADMIN
          - SYS_RESOURCE
          - SYS_TIME
          - NET_ADMIN
          - PERFMON
          - BPF
    resources:
      limits:
        cpu: 1000m
        memory: 4Gi
      requests:
        cpu: 500m
        memory: 512Mi
    extraPorts:
      - name: otel-grpc
        port: 4317
        targetPort: 4317
        protocol: TCP
      - name: otel-http
        port: 4318
        targetPort: 4318
        protocol: TCP
    configMap:
      create: false
      key: 'config.alloy'
      name: infra-monitoring-alloy-homelab-monitoring-config
  serviceAccount:
    create: true
    name: alloy
  rbac:
    create: true
  controller:
    replicas: 1
    hostPID: true
    podDisruptionBudget:
      enabled: true
      minAvailable: 2
      maxUnavailable: 1
    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 5
  serviceMonitor:
    enabled: true
