alloy:
  alloy:
    securityContext:
      privileged: true
      capabilities:
        add:
          - SYS_ADMIN
          - SYS_RESOURCE
          - SYS_TIME
          - NET_ADMIN
          - PERFMON
          - BPF
    resources:
      limits:
        cpu: 1000m
        memory: 1Gi
      requests:
        cpu: 500m
        memory: 512Mi
    configMap:
      create: false
      key: config
      name: infra-monitoring-alloy-homelab-monitoring-config
  serviceAccount:
    create: true
    name: alloy
  rbac:
    create: true
  controller:
    replicas: 1
    hostPID: true
