{{- range $bucket := .Values.storageBuckets }}
---
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: {{ $bucket.name }}-push-secret
spec:
  refreshInterval: 1h

  selector:
    secret:
      name: {{ $bucket.name }}-bucket-claim

  secretStoreRefs:
    - name: gcp-sm-cluster-secret-store
      kind: ClusterSecretStore

  data:
    - match:
        secretKey: AWS_ACCESS_KEY_ID
        remoteRef:
          remoteKey: {{ $bucket.externalKeyPrefix }}access-key

    - match:
        secretKey: AWS_SECRET_ACCESS_KEY
        remoteRef:
          remoteKey: {{ $bucket.externalKeyPrefix }}s3-secret-key
{{- end}}
