---
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: {{ index .Values "mimir-distributed" "mimir" "structuredConfig" "common" "storage" "s3" "bucket_name" }}-push-secret
spec:
  refreshInterval: 1h

  selector:
    secret:
      name: {{ index .Values "mimir-distributed" "mimir" "structuredConfig" "common" "storage" "s3" "bucket_name" }}-bucket-claim

  secretStoreRefs:
    - name: gcp-sm-cluster-secret-store
      kind: ClusterSecretStore

  data:
    - match:
        secretKey: AWS_ACCESS_KEY_ID
        remoteRef:
          remoteKey: prometheus-s3-access-key

    - match:
        secretKey: AWS_SECRET_ACCESS_KEY
        remoteRef:
          remoteKey: prometheus-s3-secret-key
---
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: {{ index .Values "mimir-distributed" "mimir" "structuredConfig" "ruler_storage" "s3" "bucket_name" }}-push-secret
spec:
  refreshInterval: 1h

  selector:
    secret:
      name: {{ index .Values "mimir-distributed" "mimir" "structuredConfig" "ruler_storage" "s3" "bucket_name" }}-bucket-claim

  secretStoreRefs:
    - name: gcp-sm-cluster-secret-store
      kind: ClusterSecretStore

  data:
    - match:
        secretKey: AWS_ACCESS_KEY_ID
        remoteRef:
          remoteKey: prometheus-ruler-s3-access-key

    - match:
        secretKey: AWS_SECRET_ACCESS_KEY
        remoteRef:
          remoteKey: prometheus-ruler-s3-secret-key
---
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: {{ index .Values "mimir-distributed" "mimir" "structuredConfig" "alertmanager_storage" "s3" "bucket_name" }}-push-secret
spec:
  refreshInterval: 1h

  selector:
    secret:
      name: {{ index .Values "mimir-distributed" "mimir" "structuredConfig" "alertmanager_storage" "s3" "bucket_name" }}-bucket-claim

  secretStoreRefs:
    - name: gcp-sm-cluster-secret-store
      kind: ClusterSecretStore

  data:
    - match:
        secretKey: AWS_ACCESS_KEY_ID
        remoteRef:
          remoteKey: alertmanager-s3-access-key

    - match:
        secretKey: AWS_SECRET_ACCESS_KEY
        remoteRef:
          remoteKey: alertmanager-s3-secret-key
