prometheus:
  server:
    persistentVolume:
      storageClass: longhorn
      size: 50Gi
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: topology.kubernetes.io/zone
        whenUnsatisfiable: DoNotSchedule
  alertmanager:
    persistence:
      storageClassName: longhorn
      size: 10Gi
  prometheus-pushgateway:
    persistentVolume:
      storageClass: longhorn
