kube-prometheus-stack:
  prometheusOperator:
    enabled: true
  prometheus:
    prometheusSpec:
      replicas: 3
      tsdb:
        outOfOrderTimeWindow: 5m
      enableRemoteWriteReceiver: true
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          memory: 3Gi

      storageSpec:
        volumeClaimTemplate:
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 50Gi
  alertmanager:
    enabled: true
    alertmanagerSpec:
      replicas: 2

      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          memory: 256Mi

      storage:
        volumeClaimTemplate:
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 2Gi

  kubeStateMetrics:
    enabled: true

  defaultRules:
    create: true

  grafana:
    enabled: false

  nodeExporter:
    enabled: false
