mimir-distributed:
  distributor:
    replicas: 2
    resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 250m
      memory: 1Gi

  ingester:
    replicas: 3
    resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 2Gi
    persistence:
    enabled: true
    size: 10Gi
    storageClassName: longhorn

  querier:
    replicas: 2
    resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 250m
      memory: 1Gi

  ruler:
    replicas: 2
    resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 250m
      memory: 1Gi

  alertmanager:
    enabled: false
