mimir-distributed:
  fullnameOverride: mimir
  global:
    extraEnv:
      - name: PROMETHEUS_METRICS_AWS_ACCESS_KEY_ID
        valueFrom:
          secretKeyRef:
            name: prometheus-metrics-bucket-claim
            key: AWS_ACCESS_KEY_ID
      - name: PROMETHEUS_METRICS_AWS_SECRET_ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: prometheus-metrics-bucket-claim
            key: AWS_SECRET_ACCESS_KEY
      - name: PROMETHEUS_METRICS_BUCKET_HOST
        valueFrom:
          secretKeyRef:
            name: prometheus-metrics-bucket-claim
            key: BUCKET_HOST
      - name: PROMETHEUS_METRICS_BUCKET_PORT
        valueFrom:
          secretKeyRef:
            name: prometheus-metrics-bucket-claim
            key: BUCKET_PORT
      - name: PROMETHEUS_METRICS_BUCKET_NAME
        valueFrom:
          secretKeyRef:
            name: prometheus-metrics-bucket-claim
            key: BUCKET_NAME
    extraEnvFrom:
      - secretRef:
          name: mimir-s3-creds-external-secret
  kafka:
    persistence:
      size: 50Gi
    logRetentionHours: 2
  mimir:
    structuredConfig:
      limits:
        out_of_order_time_window: 15m
        ingestion_rate: 50000
        ingestion_burst_size: 1000000
        max_global_series_per_user: 3000000
      common:
        storage:
          backend: s3
          s3:
            bucket_name: "${PROMETHEUS_METRICS_BUCKET_NAME}"
            endpoint: "${PROMETHEUS_METRICS_BUCKET_HOST}.cluster.local:${PROMETHEUS_METRICS_BUCKET_PORT}"
            access_key_id: "${PROMETHEUS_METRICS_AWS_ACCESS_KEY_ID}"
            secret_access_key: "${PROMETHEUS_METRICS_AWS_SECRET_ACCESS_KEY}"
            bucket_lookup_type: path
            insecure: true
      ruler_storage:
        backend: s3
        s3:
          bucket_name: prometheus-metrics-ruler
          endpoint: seaweedfs-s3.infra-storage.svc.cluster.local:8333
          access_key_id: "${AWS_ACCESS_KEY_ID}"
          secret_access_key: "${AWS_SECRET_ACCESS_KEY}"
          bucket_lookup_type: path
          insecure: true
      alertmanager_storage:
        backend: s3
        s3:
          bucket_name: prometheus-alertmanager
          endpoint: seaweedfs-s3.infra-storage.svc.cluster.local:8333
          access_key_id: "${AWS_ACCESS_KEY_ID}"
          secret_access_key: "${AWS_SECRET_ACCESS_KEY}"
          bucket_lookup_type: path
          insecure: true
  runtimeConfig:
    ingester_limits: # limits that each ingester replica enforces
      max_ingestion_rate: 50000
      max_series: 3000000
      max_inflight_push_requests: 50000
    distributor_limits: # limits that each distributor replica enforces
      max_ingestion_rate: 50000
      max_inflight_push_requests: 50000
      max_inflight_push_requests_bytes: 50000000
  distributor:
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 250m
        memory: 1Gi

  ingester:
    replicas: 3
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 4Gi
    persistentVolume:
      enabled: true
      size: 50Gi
      storageClassName: longhorn

  querier:
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 250m
        memory: 1Gi

  ruler:
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 250m
        memory: 1Gi

  alertmanager:
    enabled: true
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 250m
        memory: 500Mi
  minio:
    enabled: false
