global:
  secretStoreName: &secretStoreName gcp-sm-cluster-secret-store

object-buckets:
  buckets:
    - name: &prometheusMetricsBucketName prometheus-metrics-bucket
      storageClassName: rook-ceph-bucket
      labels:
        app: mimir
        component: prometheus
      pushSecret:
        enabled: true
        secretStoreName: *secretStoreName
        secretMappings:
          - secretKey: AWS_ACCESS_KEY_ID
            remoteKey: prometheus-metrics-s3-access-key
          - secretKey: AWS_SECRET_ACCESS_KEY
            remoteKey: prometheus-metrics-s3-secret-key

    - name: &prometheusRulerBucketName prometheus-metrics-ruler-bucket
      storageClassName: rook-ceph-bucket
      labels:
        app: mimir
        component: prometheus-ruler
      pushSecret:
        enabled: true
        secretStoreName: *secretStoreName
        secretMappings:
          - secretKey: AWS_ACCESS_KEY_ID
            remoteKey: prometheus-metrics-ruler-s3-access-key
          - secretKey: AWS_SECRET_ACCESS_KEY
            remoteKey: prometheus-metrics-ruler-s3-secret-key

    - name: &prometheusAlertmanagerBucketName prometheus-alertmanager-bucket
      storageClassName: rook-ceph-bucket
      labels:
        app: mimir
        component: alertmanager
      pushSecret:
        enabled: true
        secretStoreName: *secretStoreName
        secretMappings:
          - secretKey: AWS_ACCESS_KEY_ID
            remoteKey: prometheus-alertmanager-s3-access-key
          - secretKey: AWS_SECRET_ACCESS_KEY
            remoteKey: prometheus-alertmanager-s3-secret-key

mimir-distributed:
  fullnameOverride: mimir
  global:
    extraEnv:
      # Prometheus
      - name: PROMETHEUS_METRICS_AWS_ACCESS_KEY_ID
        valueFrom:
          secretKeyRef:
            name: *prometheusMetricsBucketName
            key: AWS_ACCESS_KEY_ID
      - name: PROMETHEUS_METRICS_AWS_SECRET_ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: *prometheusMetricsBucketName
            key: AWS_SECRET_ACCESS_KEY
      - name: PROMETHEUS_METRICS_BUCKET_HOST
        valueFrom:
          configMapKeyRef:
            name: *prometheusMetricsBucketName
            key: BUCKET_HOST
      - name: PROMETHEUS_METRICS_BUCKET_PORT
        valueFrom:
          configMapKeyRef:
            name: *prometheusMetricsBucketName
            key: BUCKET_PORT
      - name: PROMETHEUS_METRICS_BUCKET_NAME
        valueFrom:
          configMapKeyRef:
            name: *prometheusMetricsBucketName
            key: BUCKET_NAME
      # Prometheus Ruler
      - name: PROMETHEUS_METRICS_RULER_AWS_ACCESS_KEY_ID
        valueFrom:
          secretKeyRef:
            name: *prometheusRulerBucketName
            key: AWS_ACCESS_KEY_ID
      - name: PROMETHEUS_METRICS_RULER_AWS_SECRET_ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: *prometheusRulerBucketName
            key: AWS_SECRET_ACCESS_KEY
      - name: PROMETHEUS_METRICS_RULER_BUCKET_HOST
        valueFrom:
          configMapKeyRef:
            name: *prometheusRulerBucketName
            key: BUCKET_HOST
      - name: PROMETHEUS_METRICS_RULER_BUCKET_PORT
        valueFrom:
          configMapKeyRef:
            name: *prometheusRulerBucketName
            key: BUCKET_PORT
      - name: PROMETHEUS_METRICS_RULER_BUCKET_NAME
        valueFrom:
          configMapKeyRef:
            name: *prometheusRulerBucketName
            key: BUCKET_NAME
      # Alertmanager
      - name: PROMETHEUS_ALERTMANAGER_AWS_ACCESS_KEY_ID
        valueFrom:
          secretKeyRef:
            name: *prometheusAlertmanagerBucketName
            key: AWS_ACCESS_KEY_ID
      - name: PROMETHEUS_ALERTMANAGER_AWS_SECRET_ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: *prometheusAlertmanagerBucketName
            key: AWS_SECRET_ACCESS_KEY
      - name: PROMETHEUS_ALERTMANAGER_BUCKET_HOST
        valueFrom:
          configMapKeyRef:
            name: *prometheusAlertmanagerBucketName
            key: BUCKET_HOST
      - name: PROMETHEUS_ALERTMANAGER_BUCKET_PORT
        valueFrom:
          configMapKeyRef:
            name: *prometheusAlertmanagerBucketName
            key: BUCKET_PORT
      - name: PROMETHEUS_ALERTMANAGER_BUCKET_NAME
        valueFrom:
          configMapKeyRef:
            name: *prometheusAlertmanagerBucketName
            key: BUCKET_NAME

  kafka:
    persistence:
      size: 50Gi
    logRetentionHours: 2

  mimir:
    structuredConfig:
      limits:
        out_of_order_time_window: 15m
        ingestion_rate: 200000
        ingestion_burst_size: 2000000
        max_global_series_per_user: 3000000
        compactor_blocks_retention_period: 7d
      compactor:
        deletion_delay: 2h
        max_closing_blocks_concurrency: 2
        max_opening_blocks_concurrency: 4
        symbols_flushers_concurrency: 4
      ingester:
        instance_limits:
          max_ingestion_rate: 200000
          max_series: 3000000
          max_inflight_push_requests: 100000
      distributor:
        instance_limits:
          max_ingestion_rate: 200000
          max_inflight_push_requests: 100000
      common:
        storage:
          backend: s3
          s3:
            bucket_name: ${PROMETHEUS_METRICS_BUCKET_NAME}
            endpoint: ${PROMETHEUS_METRICS_BUCKET_HOST}.cluster.local:${PROMETHEUS_METRICS_BUCKET_PORT}
            access_key_id: ${PROMETHEUS_METRICS_AWS_ACCESS_KEY_ID}
            secret_access_key: ${PROMETHEUS_METRICS_AWS_SECRET_ACCESS_KEY}
            bucket_lookup_type: path
            insecure: true
      ruler_storage:
        backend: s3
        s3:
          bucket_name: ${PROMETHEUS_METRICS_RULER_BUCKET_NAME}
          endpoint: ${PROMETHEUS_METRICS_RULER_BUCKET_HOST}.cluster.local:${PROMETHEUS_METRICS_RULER_BUCKET_PORT}
          access_key_id: ${PROMETHEUS_METRICS_RULER_AWS_ACCESS_KEY_ID}
          secret_access_key: ${PROMETHEUS_METRICS_RULER_AWS_SECRET_ACCESS_KEY}
          bucket_lookup_type: path
          insecure: true
      alertmanager_storage:
        backend: s3
        s3:
          bucket_name: ${PROMETHEUS_ALERTMANAGER_BUCKET_NAME}
          endpoint: ${PROMETHEUS_ALERTMANAGER_BUCKET_HOST}.cluster.local:${PROMETHEUS_ALERTMANAGER_BUCKET_PORT}
          access_key_id: ${PROMETHEUS_ALERTMANAGER_AWS_ACCESS_KEY_ID}
          secret_access_key: ${PROMETHEUS_ALERTMANAGER_AWS_SECRET_ACCESS_KEY}
          bucket_lookup_type: path
          insecure: true

  distributor:
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 250m
        memory: 1Gi

  ingester:
    replicas: 3
    extraArgs:
      ingester.wal-enabled: "false"
    resources:
      requests:
        cpu: 500m
        memory: 2Gi
      limits:
        cpu: 2
        memory: 8Gi
    persistentVolume:
      enabled: true
      size: 100Gi
      storageClassName: longhorn

  querier:
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 250m
        memory: 1Gi

  ruler:
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 250m
        memory: 1Gi

  alertmanager:
    enabled: true
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 250m
        memory: 500Mi

  minio:
    enabled: false
