mimir-distributed:
  fullnameOverride: mimir
  global:
    extraEnvFrom:
      - secretRef:
          name: mimir-s3-creds-external-secret
  mimir:
    structuredConfig:
      common:
        storage:
          backend: s3
          s3:
            bucket_name: prometheus-metrics
            endpoint: seaweedfs-s3.infra-storage.svc.cluster.local:8333
            access_key_id: "${AWS_ACCESS_KEY_ID}"
            secret_access_key: "${AWS_SECRET_ACCESS_KEY}"
            bucket_lookup_type: path
            insecure: true
      ruler_storage:
        backend: s3
        s3:
          bucket_name: prometheus-metrics-ruler
          endpoint: seaweedfs-s3.infra-storage.svc.cluster.local:8333
          access_key_id: "${AWS_ACCESS_KEY_ID}"
          secret_access_key: "${AWS_SECRET_ACCESS_KEY}"
          bucket_lookup_type: path
          insecure: true
      alertmanager_storage:
        backend: s3
        s3:
          bucket_name: prometheus-alertmanager
          endpoint: seaweedfs-s3.infra-storage.svc.cluster.local:8333
          access_key_id: "${AWS_ACCESS_KEY_ID}"
          secret_access_key: "${AWS_SECRET_ACCESS_KEY}"
          bucket_lookup_type: path
          insecure: true
  runtimeConfig:
    ingester_limits: # limits that each ingester replica enforces
      max_ingestion_rate: 20000
      max_series: 1500000
      max_inflight_push_requests: 30000
    distributor_limits: # limits that each distributor replica enforces
      max_ingestion_rate: 20000
      max_inflight_push_requests: 30000
      max_inflight_push_requests_bytes: 50000000
  distributor:
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 250m
        memory: 1Gi

  ingester:
    replicas: 3
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 2Gi
    persistence:
      enabled: true
      size: 10Gi
      storageClassName: longhorn

  querier:
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 250m
        memory: 1Gi

  ruler:
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 250m
        memory: 1Gi

  alertmanager:
    enabled: true
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 250m
        memory: 500Mi
  minio:
    enabled: false
