tempo-distributed:
  distributor:
    replicas: 3
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo-traces
        endpoint: seaweedfs-s3.infra-storage.svc.cluster.local:8333
        region: us-east-1
        insecure: true
        forcepathstyle: true
  ingester:
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds