tempo-distributed:
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo-traces
        endpoint: http://seaweedfs-s3.infra-storage.svc.cluster.local:8333
        region: us-east-1
        insecure: true
        forcepathstyle: true
  ingester:
    extraEnvFrom:
      - secretRef:
          name: seaweedfs-s3-credentials
