tempo-distributed:
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo-traces
        endpoint: seaweedfs-s3.infra-storage.svc.cluster.local:8333
        region: us-east-1
        insecure: true
        forcepathstyle: true
  compactor:
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 20m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 256Mi
  streamOverHTTPEnabled: true
  gateway:
    enabled: true
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 50m
        memory: 128Mi
  distributor:
    replicas: 3
    podManagementPolicy: OrderedReady
    terminationGracePeriodSeconds: 60
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 30m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 256Mi
  metricsGenerator:
    enabled: true
    replicas: 3
    processor:
      local_blocks:
        filter_server_spans: false
    resources:
      requests:
        cpu: 50m
        memory: 256Mi
      limits:
        cpu: 200m
        memory: 512Mi
    config:
      storage:
        remote_write_add_org_id_header: true
        remote_write_flush_deadline: 1m
        remote_write:
          - url: http://infra-monitoring-mimir-gateway.infra-monitoring.svc.cluster.local/api/v1/push
            remote_timeout: 30s
            send_exemplars: true
            queue_config:
              max_samples_per_send: 40000
              max_shards: 30
            metadata_config:
              send: true
              send_interval: 1m
              max_samples_per_send: 40000
      traces_storage:
        path: /var/tempo/traces
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
  ingester:
    replicas: 3
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    persistence:
      size: 25Gi
    resources:
      requests:
        cpu: 30m
        memory: 200Mi
      limits:
        cpu: 100m
        memory: 512Mi

  querier:
    replicas: 3
    podManagementPolicy: OrderedReady
    terminationGracePeriodSeconds: 60
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 20m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 256Mi
  traces:
    otlp:
      http:
        enabled: true
      grpc:
        enabled: true
        port: 4317
  queryFrontend:
    replicas: 3
    podManagementPolicy: OrderedReady
    terminationGracePeriodSeconds: 60
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 50m
        memory: 128Mi
  overrides:
    defaults:
      metrics_generator:
        processors: [ service-graphs, span-metrics, local-blocks ]
  metaMonitoring:
    serviceMonitor:
      enabled: true
