tempo-distributed:
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo-traces
        endpoint: seaweedfs-s3.infra-storage.svc.cluster.local:8333
        region: us-east-1
        insecure: true
        forcepathstyle: true

  compactor:
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 1Gi
  streamOverHTTPEnabled: true
  gateway:
    enabled: true
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 1Gi
  distributor:
    replicas: 3
    podManagementPolicy: OrderedReady
    terminationGracePeriodSeconds: 60
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 1Gi

  ingester:
    replicas: 3
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 1Gi

  querier:
    replicas: 3
    podManagementPolicy: OrderedReady
    terminationGracePeriodSeconds: 60
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 1Gi
  traces:
    otlp:
      http:
        enabled: true
      grpc:
        enabled: true
        port: 4317
  queryFrontend:
    replicas: 3
    podManagementPolicy: OrderedReady
    terminationGracePeriodSeconds: 60
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 1Gi