tempo-distributed:
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo-traces
        endpoint: seaweedfs-s3.infra-storage.svc.cluster.local:8333
        region: us-east-1
        insecure: true
        forcepathstyle: true
  compactor:
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 1Gi
  streamOverHTTPEnabled: true
  gateway:
    enabled: true
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 1Gi
  distributor:
    replicas: 3
    podManagementPolicy: OrderedReady
    terminationGracePeriodSeconds: 60
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 1Gi
  metricsGenerator:
    enabled: true
    replicas: 2
    processor:
      local_blocks:
        filter_server_spans: false
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi
    config:
      storage:
        remote_write:
          - http://infra-monitoring-mimir-gateway.infra-monitoring.svc.cluster.local/api/v1/push
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
  ingester:
    replicas: 6
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 2Gi

  querier:
    replicas: 3
    podManagementPolicy: OrderedReady
    terminationGracePeriodSeconds: 60
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 1Gi
  traces:
    otlp:
      http:
        enabled: true
      grpc:
        enabled: true
        port: 4317
  queryFrontend:
    replicas: 3
    podManagementPolicy: OrderedReady
    terminationGracePeriodSeconds: 60
    extraEnvFrom:
      - secretRef:
          name: tempo-s3-creds
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 1
        memory: 1Gi