global:
  extraEnvFrom:
    - secretRef:
        name: mimir-s3-creds
  podAnnotations:
    bucketSecretVersion: "0"

mimir-distributed:
  mimir:
    structuredConfig:
      limits:
        ingestion_rate: 30000
        ingestion_burst_size: 600000
      alertmanager_storage:
        s3:
          bucket_name: mimir-ruler
          access_key_id: ${AWS_ACCESS_KEY_ID}
          endpoint: seaweedfs-s3.infra-storage.svc.cluster.local:8333
          secret_access_key: ${AWS_SECRET_ACCESS_KEY}
          bucket_lookup_type: path
          insecure: true
      blocks_storage:
        backend: s3
        s3:
          bucket_name: mimir-blocks
          access_key_id: ${AWS_ACCESS_KEY_ID}
          endpoint: seaweedfs-s3.infra-storage.svc.cluster.local:8333
          secret_access_key: ${AWS_SECRET_ACCESS_KEY}
          bucket_lookup_type: path
          insecure: true
      ruler_storage:
        s3:
          bucket_name: mimir-ruler
          access_key_id: ${AWS_ACCESS_KEY_ID}
          endpoint: seaweedfs-s3.infra-storage.svc.cluster.local:8333
          secret_access_key: ${AWS_SECRET_ACCESS_KEY}
          bucket_lookup_type: path
          insecure: true
  alertmanager:
    persistentVolume:
      enabled: true
    replicas: 2
    resources:
      limits:
        memory: 1.4Gi
      requests:
        cpu: 0.5
        memory: 1Gi
    statefulSet:
      enabled: true

  compactor:
    persistentVolume:
      size: 20Gi
    resources:
      limits:
        memory: 3Gi
      requests:
        cpu: 0.5
        memory: 1.5Gi

  distributor:
    replicas: 2
    resources:
      limits:
        memory: 5.7Gi
      requests:
        cpu: 0.5
        memory: 4Gi

  ingester:
    persistentVolume:
      size: 50Gi
    replicas: 3
    resources:
      limits:
        memory: 4Gi
        cpu: 0.5
      requests:
        cpu: 0.5
        memory: 2Gi
    topologySpreadConstraints: { }
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                    - ingester
            topologyKey: "kubernetes.io/hostname"

    zoneAwareReplication:
      topologyKey: "kubernetes.io/hostname"

  chunks-cache:
    enabled: true
    replicas: 3

  index-cache:
    enabled: true
    replicas: 3

  metadata-cache:
    enabled: true
    replicas: 3

  results-cache:
    enabled: true
    replicas: 3

  minio:
    enabled: false

  overrides_exporter:
    replicas: 1
    resources:
      limits:
        memory: 256Mi
        cpu: 300m
      requests:
        cpu: 100m
        memory: 128Mi

  querier:
    replicas: 1
    resources:
      limits:
        memory: 5.6Gi
      requests:
        cpu: 0.5
        memory: 4Gi

  query_frontend:
    replicas: 1
    resources:
      limits:
        memory: 2.8Gi
      requests:
        cpu: 0.5
        memory: 2Gi

  ruler:
    replicas: 1
    resources:
      limits:
        memory: 2.8Gi
      requests:
        cpu: 0.5
        memory: 2Gi

  store_gateway:
    persistentVolume:
      size: 10Gi
    replicas: 3
    resources:
      limits:
        memory: 2.1Gi
      requests:
        cpu: 0.5
        memory: 1.5Gi
    topologySpreadConstraints: { }
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                    - store-gateway
            topologyKey: "kubernetes.io/hostname"
    zoneAwareReplication:
      topologyKey: "kubernetes.io/hostname"

  gateway:
    replicas: 1
    resources:
      limits:
        memory: 731Mi
      requests:
        cpu: 1
        memory: 512Mi
  metaMonitoring:
    serviceMonitor:
      enabled: true

  kafka:
    persistence:
      enabled: true
      size: 50Gi
