global:
  extraEnvFrom:
    - secretRef:
        name: mimir-s3-creds
  podAnnotations:
    bucketSecretVersion: "0"

mimir-distributed:
  mimir:
    structuredConfig:
      limits:
        ingestion_rate: 30000
        ingestion_burst_size: 600000
        max_global_series_per_user: 300000
      alertmanager_storage:
        s3:
          bucket_name: mimir-ruler
          access_key_id: ${AWS_ACCESS_KEY_ID}
          endpoint: seaweedfs-s3.infra-storage.svc.cluster.local:8333
          secret_access_key: ${AWS_SECRET_ACCESS_KEY}
          bucket_lookup_type: path
          insecure: true
      blocks_storage:
        backend: s3
        s3:
          bucket_name: mimir-blocks
          access_key_id: ${AWS_ACCESS_KEY_ID}
          endpoint: seaweedfs-s3.infra-storage.svc.cluster.local:8333
          secret_access_key: ${AWS_SECRET_ACCESS_KEY}
          bucket_lookup_type: path
          insecure: true
      ruler_storage:
        s3:
          bucket_name: mimir-ruler
          access_key_id: ${AWS_ACCESS_KEY_ID}
          endpoint: seaweedfs-s3.infra-storage.svc.cluster.local:8333
          secret_access_key: ${AWS_SECRET_ACCESS_KEY}
          bucket_lookup_type: path
          insecure: true
  alertmanager:
    persistentVolume:
      enabled: true
    replicas: 2
    resources:
      limits:
        memory: 128Mi
        cpu: 50m
      requests:
        cpu: 10m
        memory: 64Mi
    statefulSet:
      enabled: true

  compactor:
    persistentVolume:
      size: 20Gi
    resources:
      limits:
        memory: 256Mi
        cpu: 100m
      requests:
        cpu: 20m
        memory: 128Mi

  distributor:
    replicas: 2
    resources:
      limits:
        memory: 256Mi
        cpu: 100m
      requests:
        cpu: 50m
        memory: 128Mi

  ingester:
    persistentVolume:
      size: 50Gi
    replicas: 3
    resources:
      limits:
        memory: 1.2Gi
        cpu: 200m
      requests:
        cpu: 100m
        memory: 600Mi
    topologySpreadConstraints: { }
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                    - ingester
            topologyKey: "kubernetes.io/hostname"

    zoneAwareReplication:
      topologyKey: "kubernetes.io/hostname"

  chunks-cache:
    enabled: true
    replicas: 3
    resources:
      limits:
        memory: 64Mi
        cpu: 50m
      requests:
        cpu: 10m
        memory: 32Mi

  index-cache:
    enabled: true
    replicas: 3
    resources:
      limits:
        memory: 64Mi
        cpu: 50m
      requests:
        cpu: 10m
        memory: 32Mi

  metadata-cache:
    enabled: true
    replicas: 3
    resources:
      limits:
        memory: 64Mi
        cpu: 50m
      requests:
        cpu: 10m
        memory: 32Mi

  results-cache:
    enabled: true
    replicas: 3
    resources:
      limits:
        memory: 128Mi
        cpu: 50m
      requests:
        cpu: 10m
        memory: 64Mi

  minio:
    enabled: false

  overrides_exporter:
    replicas: 1
    resources:
      limits:
        memory: 256Mi
        cpu: 300m
      requests:
        cpu: 100m
        memory: 128Mi

  querier:
    replicas: 1
    resources:
      limits:
        memory: 256Mi
        cpu: 100m
      requests:
        cpu: 20m
        memory: 128Mi

  query_frontend:
    replicas: 1
    resources:
      limits:
        memory: 256Mi
        cpu: 100m
      requests:
        cpu: 20m
        memory: 128Mi

  ruler:
    replicas: 1
    resources:
      limits:
        memory: 256Mi
        cpu: 100m
      requests:
        cpu: 20m
        memory: 128Mi

  store_gateway:
    persistentVolume:
      size: 10Gi
    replicas: 3
    resources:
      limits:
        memory: 512Mi
        cpu: 100m
      requests:
        cpu: 20m
        memory: 256Mi
    topologySpreadConstraints: { }
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                    - store-gateway
            topologyKey: "kubernetes.io/hostname"
    zoneAwareReplication:
      topologyKey: "kubernetes.io/hostname"

  gateway:
    replicas: 1
    resources:
      limits:
        memory: 128Mi
        cpu: 50m
      requests:
        cpu: 10m
        memory: 64Mi
  metaMonitoring:
    serviceMonitor:
      enabled: true
  kafka:
    resources:
      limits:
        memory: 512Mi
        cpu: 100m
      requests:
        cpu: 50m
        memory: 256Mi
    persistence:
      enabled: true
      size: 50Gi
  query_scheduler:
    enabled: true
    replicas: 1
    resources:
      limits:
        memory: 128Mi
        cpu: 50m
      requests:
        cpu: 10m
        memory: 64Mi
