grafana:
  replicas: 1
  networkPolicy:
    enabled: true
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
    hosts:
      - grafana.karafra.net
    tls:
      - hosts:
          - grafana.karafra.net
        secretName: grafana-tls
  admin:
    existingSecret: grafana-admin-secret
    userKey: username
    passwordKey: password
  persistence:
    enabled: true
    storageClassName: longhorn
    accessModes:
      - ReadWriteOnce
    size: 10Gi
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Loki
          type: loki
          access: proxy
          url: http://infra-monitoring-loki-distributed-gateway.infra-monitoring.svc.cluster.local:80
          jsonData:
            maxmatchLabels:
              metrics-collector: prometheus
              Lines: 1000
            minInterval: 1s
          editable: true
          isDefault: false
        - name: Tempo
          type: tempo
          access: proxy
          url: http://infra-monitoring-tempo-distributed-query-frontend.infra-monitoring.svc.cluster.local:3200
          jsonData:
            maxmatchLabels:
              metrics-collector: prometheus
              Traces: 1000
          editable: false
          isDefault: false
        - name: Pyroscope
          type: grafana-pyroscope-datasource
          access: proxy
          url: http://infra-monitoring-pyroscope.infra-monitoring.svc.cluster.local:4040
          editable: true
          isDefault: false
        - name: Prometheus
          type: prometheus
          access: proxy
          url: http://infra-monitoring-mimir-gateway.infra-monitoring.svc.cluster.local/prometheus
          isDefault: true
          editable: false

  grafana.ini:
    server:
      root_url: https://grafana.karafra.net
    auth:
      disable_login_form: true
    auth.github:
      enabled: true
      client_id: ${GITHUB_CLIENT_ID}
      client_secret: ${GITHUB_CLIENT_SECRET}
      scopes: user:email,read:org
      auth_url: https://github.com/login/oauth/authorize
      token_url: https://github.com/login/oauth/access_token
      api_url: https://api.github.com/user
      allow_sign_up: true
      auto_login: true
      allowed_organizations:
        - KarafrOrg
      org_mapping: '*:*:Admin'

  envFromSecrets:
    - name: github-grafana-oauth-secret
      prefix: GITHUB_
  sidecar:
    dashboards:
      label: monitoring.coreos.com/grafana-dashboard
      labelValue: 'true'
      enabled: true
