kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      enableOTLPReceiver: true
  grafana:
    enabled: false

    additionalDataSources:
      - name: Loki
        type: loki
        access: proxy
        url: http://monitoring-loki-gateway.monitoring.svc.cluster.local:8083
        jsonData:
          maxmatchLabels:
            metrics-collector: prometheus
            Lines: 1000
          minInterval: 1s
        editable: true
        isDefault: false

    grafana.ini:
      server:
        root_url: https://grafana.karafra.net
      auth:
        disable_login_form: true
      auth.github:
        enabled: true
        client_id: ${GITHUB_CLIENT_ID}
        client_secret: ${GITHUB_CLIENT_SECRET}
        scopes: user:email,read:org
        auth_url: https://github.com/login/oauth/authorize
        token_url: https://github.com/login/oauth/access_token
        api_url: https://api.github.com/user
        allow_sign_up: true
        auto_login: true
        allowed_organizations: [ "KarafrOrg" ]
        org_mapping: '*:*:Admin'
    envFromSecrets:
      - name: github-grafana-oauth-secret
        prefix: GITHUB_
    sidecar:
      dashboards:
        label: monitoring.coreos.com/grafana-dashboard
        labelValue: 'true'
        enabled: true
  prometheus-node-exporter:
    service:
      port: 9101
x509-certificate-exporter:
  prometheusServiceMonitor:
    scrapeInterval: 30s
    extraLabels:
      metrics-collector: prometheus
  prometheusPodMonitor:
    create: true
    scrapeInterval: 30s
    extraLabels:
      metrics-collector: prometheus

tempo-distributed:
  global:
    image:
      registry: docker.io

  tempo:
    metricsGenerator:
      enabled: true
      remoteWriteUrl: http://prometheus-kube-prometheus-prometheus.monitoring:9090/api/v1/write
    reportingEnabled: false
    multitenancyEnabled: false
    retention: 168h # 7 days
    storage:
      trace:
        backend: s3
        s3:
          bucket: tempo-traces           # Name of the bucket in Ceph RGW
          endpoint: rook-ceph-rgw.ceph.svc.cluster.local:80  # RGW service endpoint
          access_key: tempo              # Ceph RGW access key
          secret_key: tempo-secret       # Ceph RGW secret key
          insecure: true                 # RGW usually runs HTTP inside cluster
        wal:
          path: /var/tempo/wal
        local:
          path: /var/tempo/blocks

    server:
      http_listen_port: 3100

    overrides:
      defaults:
        ingestion:
          burst_size_bytes: 20000000
          rate_limit_bytes: 15000000
  distributor:
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 512Mi

    serviceMonitor:
      enabled: true
  ingester:
    replicas: 3
    persistence:
      enabled: true
      size: 10Gi
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        memory: 1Gi

    serviceMonitor:
      enabled: true

  querier:
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 512Mi

    serviceMonitor:
      enabled: true
  queryFrontend:
    replicas: 2
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 512Mi
  compactor:
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 512Mi
  gateway:
    enabled: true
    replicas: 2

    service:
      type: ClusterIP
      port: 80

    serviceMonitor:
      enabled: true
