kube-prometheus-stack:
  crds:

  prometheus:
    prometheusSpec:
      enableOTLPReceiver: true
  prometheus-node-exporter:
    service:
      port: 9101
  grafana:
    networkPolicy:
      enabled: true
    ingress:
      enabled: true
      ingressClassName: traefik
