kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      enableOTLPReceiver: true
      podMonitorNamespaceSelector: { }
      podMonitorSelector: { }
      podMonitorSelectorNilUsesHelmValues: false
      ruleNamespaceSelector: { }
      ruleSelector: { }
      ruleSelectorNilUsesHelmValues: false
      serviceMonitorNamespaceSelector: { }
      serviceMonitorSelector: { }
      serviceMonitorSelectorNilUsesHelmValues: false
      otlp:
        promoteResourceAttributes:
          - service.instance.id
          - service.name
          - service.namespace
          - service.version
          - cloud.availability_zone
          - cloud.region
          - container.name
          - deployment.environment
          - deployment.environment.name
          - k8s.cluster.name
          - k8s.container.name
          - k8s.cronjob.name
          - k8s.daemonset.name
          - k8s.deployment.name
          - k8s.job.name
          - k8s.namespace.name
          - k8s.pod.name
          - k8s.replicaset.name
          - k8s.statefulset.name
  prometheus-node-exporter:
    service:
      port: 9101

  grafana:
    networkPolicy:
      enabled: true
    ingress:
      enabled: true
      ingressClassName: traefik
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
      hosts:
        - grafana.karafra.net
      tls:
        - hosts:
            - grafana.karafra.net
          secretName: grafana-tls
    admin:
      existingSecret: grafana-admin-secret
      userKey: username
      passwordKey: password

    additionalDataSources:
      - name: Loki
        type: loki
        access: proxy
        url: http://monitoring-loki-gateway.monitoring.svc.cluster.local:8083
        jsonData:
          maxmatchLabels:
            metrics-collector: prometheus
            Lines: 1000
          minInterval: 1s
        editable: true
        isDefault: false

    grafana.ini:
      server:
        root_url: https://grafana.karafra.net
      auth:
        disable_login_form: true
      auth.github:
        enabled: true
        client_id: ${GITHUB_CLIENT_ID}
        client_secret: ${GITHUB_CLIENT_SECRET}
        scopes: user:email,read:org
        auth_url: https://github.com/login/oauth/authorize
        token_url: https://github.com/login/oauth/access_token
        api_url: https://api.github.com/user
        allow_sign_up: true
        auto_login: true
        allowed_organizations: [ "KarafrOrg" ]
        org_mapping: '*:*:Admin'

    envFromSecrets:
      - name: github-grafana-oauth-secret
        prefix: GITHUB_

    sidecar:
      dashboards:
        label: monitoring.coreos.com/grafana-dashboard
        labelValue: 'true'
        enabled: true