beyla:
  resources:
    limits:
      cpu: 200m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 256Mi
  env:
    OTEL_EBPF_KUBE_CLUSTER_NAME: kubernetes.karafra.net
  config:
    data:
      discovery:
        services:
          - k8s_deployment_name: .
        exclude_services:
          - exe_path: ".*alloy.*"
      attributes:
        kubernetes:
          enable: true
          metadata:
            - namespace
            - pod_name
            - deployment_name
            - service_name
      network:
        enable: true
      metrics:
        enable: true
      traces:
        enable: true
      profiling:
        cpu:
          enable: true
        memory:
          enable: true
      otel_metrics_export:
        endpoint: http://alloy.infra-monitoring.svc.cluster.local:4317
      otel_traces_export:
        endpoint: http://alloy.infra-monitoring.svc.cluster.local:4318
  serviceMonitor:
    enabled: true
