beyla:
  config:
    data:
      discovery:
        services:
          - k8s_deployment_name: .
        exclude_services:
          - exe_path: ".*alloy.*"
      attributes:
        kubernetes:
          enable: true
          metadata:
            - namespace
            - pod_name
            - deployment_name
            - service_name
      network:
        enable: true
      metrics:
        enable: true
      traces:
        enable: true
      profiling:
        cpu:
          enable: true
        memory:
          enable: true

      otel:
        exporter:
          otlp:
            endpoint: "http://infra-monitoring-alloy.infra-monitoring.svc.cluster.local:4317"
            protocol: grpc
